footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1A1A1A;
    color: white;
    padding: 2% 0;

    .icons{
        display: flex;
        gap: 10%;
        i{
            font-size: 25px;
            &:hover{
                color: #ffb606;
                cursor: pointer;
            }
        }
    }
}